.pizarra{
	display: grid;
	justify-content: space-evenly;
	grid-template-columns: repeat(auto-fill, 250px);
	align-items: start;
	grid-row-gap: 30px;
}
.post-it{
	background-color: #fdfdca !important;
	padding: 10px 10px 10px 10px;
	position: relative;
}
.header-post-it{
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: 1fr;
	align-items: flex-start;
}
.pin{
	position: relative;
	cursor: pointer;
}
.pin:before {
	z-index: 0;
	content: '';
	left: 40%;
	top: -5px;
	height: 0;
	width: 0;
	position: absolute;
	border: 4px solid transparent;
	border-top: 35px solid rgb(158, 158, 158);
	transform: rotate(75deg);
}
.pin:after {
	content:'X';
	text-align: center;
	color: white;
	font-weight: bold;
	left:50%;
	width: 20px;
	height: 20px;
	position:absolute;
	border-radius: 100%;
	background-color: rgb(250, 2, 2);
}
.btn-nota{
	cursor: pointer;
	top: 3%;
}
.container-btn-cancel{
	justify-self: left;
}
.container-btn-edit{
	justify-self: right;
}
.btn-cancel{
	fill: rgba(167, 0, 0, 0.719) !important;
}
.btn-edit{
	fill: rgba(136, 136, 136, 0.788) !important;
	right: 3%;
}

@media screen and (min-width: 720){
	.pizarra{
		padding-bottom: 2%;
	}
}

.gira-8{
	transform: rotate(-4deg);
}
.gira-7{
	transform: rotate(-3deg);
}
.gira-6{
	transform: rotate(-2deg);
}
.gira-5{
	transform: rotate(-1deg);
}
.gira-4{
	transform: rotate(4deg);
}
.gira-3{
	transform: rotate(3deg);
}
.gira-2{
	transform: rotate(2deg);
}
.gira-1{
	transform: rotate(1deg);
}
.gira-0{
	transform: rotate(0deg);
}

.fondo-0{
	/* Amarillo */
	background-color: #fdfdca !important;
}
.fondo-1{
	/* Naranja */
	background-color: #fde5ca !important;
}
.fondo-2{
	/* Verde */
	background-color: #defdca !important;
}
.fondo-3{
	/* Azul */
	background-color: #cae0fd !important;
}
.fondo-4{
	/* Rojo */
	background-color: #fdcaca !important;
}